<footer class="site-footer h-card">

  <section class="grid-4-small-1">
	<div></div>
	<div  class="footer_img col-2">
       <p><img src="{{ "images/jumbotron_bkg.jpg" | relative_url }}"></p>
	</div>
  </section>
  <section class="grid-4-small-1">
    <div></div>
    <div class="col-2">
      <center>
	<a href="https://www.instagram.com/filenphotos"><img width="40" heigth="30" src="{{ "/images/instagram.svg" | relative_url }}"></a>
	<a href="https://www.pinterest.com/filenphotos"><img width="40" heigth="30" src="{{ "/images/pinterest.svg" | relative_url }}"></a>
	<a href="https://youtube.com/@filenphotos?si=eI0Atqhz23n0kYkX"><img width="40" heigth="30" src="{{ "/images/youtube.svg" | relative_url }}"></a>
      </center>
     </div>
    <div></div>
  </section>
  <section class="grid-4-small-1">
	<div></div>
	<div  class="col-2">
	  <center>
	    <p>© filenphotos 2024</p>
	    </center>
	</div>
	<div></div>
    </section>
</footer>


