---
# Only the main Sass file needs front matter (the dashes are enough)
---
//@import "bootstrap";
@import "minima";

.tabs-menu-text-details {
  font-family: caveat brush;
  font-size: 2rem;
  font-style: italic;
  color: white;
  border-radius: 20px 20px 20px 20px;
  background-color: #9f3863
}

.tabs-menu {
  border-bottom: none;
  background-color: white;
}

.logo {
  background-color: white;
}

.content {
  background-color: white;
  padding: 20px;
}

.tabs-menu-link:focus,
.tabs-menu-link:hover {
  color: #acacac;
  text-decoration: none;
}

.post-sumup {
  border: 3px solid black;
  border-radius: 0 20px 20px 20px;
  margin-bottom: 30px;
}

.post-header {
  background-color: #6cafb7;
  border-radius: 0px 20px 0px 0px;
  font-family:caveat;
  font-size:2rem;
  a {text-decoration: none; color: black; font-family:caveat; font-size:2.5rem}
}

.post-content {
  border-radius: 0px 0px 20px 20px;
  img {max-height:400px; display: block; margin-left:auto; margin-right: auto; width: auto;}
  font-family: aria;
  font-size: 2rem;

}

.footer_img {
  img {max-height:180px; display: block; margin-left:auto; margin-right: auto; width: auto; border-radius: 20px 20px 20px 20px; border-style: solid}
  
}

.header_img {
  img {height:100px; display: block; margin-left:auto; margin-right: auto; width: auto;}
  
}

.header_background {
    background-image: url("../../images/jumbotron_bkg.jpg");
    background-repeat: repeat-x;
}

.spectacle-passe {
  img {display: block; border-style: solid}
}

.kits {
    img {display: block; border-style: solid}
      font-family: aria;
  font-size: 2rem;
}

.guide {
  text-align: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.burger-button > * {
  display: inline-flex;
  vertical-align: top;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 2.6rem;
  width: 2.6rem;
  background-image: linear-gradient(#333, #333);
  background-position: 50%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 100% 5px;
  transition: .25s;
    transition-property: all;
  transition-property: transform, background;
  will-change: transform, background;
}
