---
layout: default
---
  <div class="post-content">
    Nos kits sont fabriqués individuellement dans notre atelier en petite quantité.
L’ensemble des éléments qui les composent sont méticuleusement choisis.
Notre première collection s'intitule « Mon premier salon à Antibes ». En voici les différents modèles !
  </div>
<main aria-label="Content">
      <section class="kits grid-3-small-1 has-gutter">
	<div>
      	  <img style="width:100%" src="{{ "/images/pour_commencer_DxO.jpg" | relative_url }}">
	  <p>Pour Commencer...</p>
	</div>
	<div>
      	  <img style="width:100%" src="{{ "/images/avoir_un_coeur_d_artichaud_DxO.jpg" | relative_url }}">
	  <p>Avoir un coeur d'Artichaut !</p> 
	</div>
	<div>
	  <img style="width:100%" src="{{ "/images/je_vois_la_vie_en_rose_DxO.jpg" | relative_url }}">
	  <p>Je vois la vie en rose !</p> 
	</div>
	<div>
	  <img style="width:100%" src="{{ "/images/bienvenue_au_musee_d_archeologie_DxO.jpg" | relative_url }}">
	  <p>Bienvenue au musée d’Archéologie !</p> 
	</div>
	<div>
	  <img style="width:100%" src="{{ "/images/escapade_a_la_plage_DxO.jpg" | relative_url }}">
	  <p>Escapade à la plage</p> 
	</div>
	<div>
	  <img style="width:100%" src="{{ "/images/fleur_d_un_jour_fleur_toujours_DxO.jpg" | relative_url }}">
	  <p>Fleur d’un jour ou de toujours ? </p> 
	</div>
	<div>
	  <img style="width:100%" src="{{ "/images/souvenir_de_copenhague_DxO.jpg" | relative_url }}">
	  <p>Souvenir de Copenhague !</p> 
	</div>
	<div>
	  <img style="width:100%" src="{{ "/images/une_petite_crique_antiboise_DxO.jpg" | relative_url }}">
	  <p>Une petite crique antiboise...</p> 
	</div>
	<div>
	  <img style="width:100%" src="{{ "/images/viva_italia_DxO.jpg" | relative_url }}">
	  <p>Viva Italia !</p> 
	</div>
	<div>
	  <img style="width:100%" src="{{ "/images/des_fils_et_des_mots_DxO.jpg" | relative_url }}">
	  <p>Des fils et des mots</p> 
	</div>
	<div>
	  <img style="width:100%" src="{{ "/images/fil_entre_les_lignes_DxO.jpg" | relative_url }}">
	  <p>Fils entre les lignes</p> 
	</div>
	
      </section>
    </main>



