---
layout: default
---
    <main aria-label="Content">
      <div>
	Pigeon Vole de Georges Berdot et Citizen BV de Christian Palustran.
      </div>
      <section class="spectacle-passe grid-2-small-1 has-gutter">
	<div>
      		<a href="{{ "/images/2004/pigeon_vole/pv_photos.htm" | relative_url }}"><img style="width:100%" src="{{ "/images/2004/PV.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/images/2004/citizen_bv/bv_photos.htm" | relative_url }}"><img style="width:100%" src="{{ "/images/2004/BV.jpg" | relative_url }}"></a>
	</div>
      </section>
    </main>