---
layout: default
---
    <main aria-label="Content">
      <div>
	Six petites farces japonaises.
      </div>
      <section class="spectacle-passe grid-2-small-1 has-gutter">
	<div>
      		<a href="{{ "/spectacle_kyogen" | relative_url }}"><img style="width:100%" src="{{ "/images/2009/spectacle.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/makingoff" | relative_url }}"><img style="width:100%" src="{{ "/images/2009/makingoff.JPG" | relative_url }}"></a>
	</div>
      </section>
    </main>