---
layout: default
---
    <main aria-label="Content">
      <div>
	Trois pièces en un acte pour ce spectacle.
      </div>
      <section class="spectacle-passe grid-3-small-1 has-gutter">
	<div>
      		<a href="{{ "/almenorade" | relative_url }}"><img style="width:100%" src="{{ "/images/2008/almenorade.JPG" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/ledesoeuvrement" | relative_url }}"><img style="width:100%" src="{{ "/images/2008/desoeuvrement.JPG" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/lefinal" | relative_url }}"><img style="width:100%" src="{{ "/images/2008/final.JPG" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/lesinterpretations" | relative_url }}"><img style="width:100%" src="{{ "/images/2008/interpretations.JPG" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/lemakingoff" | relative_url }}"><img style="width:100%" src="{{ "/images/2008/makingof.JPG" | relative_url }}"></a>
	</div>
      </section>
    </main>