---
layout: default
---
    <main aria-label="Content">
      <div>
	Trois pièces en un acte pour ce spectacle. 
      </div>
      <section class="spectacle-passe grid-3-small-1 has-gutter">
	<div>
      		<a href="{{ "/yelva2" | relative_url }}"><img style="width:100%" src="{{ "/images/2011/yelva.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/assassin" | relative_url }}"><img style="width:100%" src="{{ "/images/2011/assassin.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/final" | relative_url }}"><img style="width:100%" src="{{ "/images/2011/final.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/making_off" | relative_url }}"><img style="width:100%" src="{{ "/images/2011/making_off.jpg" | relative_url }}"></a>
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2011/affiche_yelva_assassin.jpg" | relative_url }}">
	</div>
      </section>
    </main>