---
layout: default
---
    <main aria-label="Content">
      <section class="spectacle-passe grid-3-small-1 has-gutter">
	<div>
      	  <a href="{{ "/spectacle_2023" | relative_url }}"><img style="width:100%" src="{{ "/images/2023/Affiche.jpg" | relative_url }}"></a>
	  <p>Le spectacle 2023</p>
	</div>
	<div>
      		<img style="width:100%" src="{{ "/uploads/affiche_pygma_2022.jpg" | relative_url }}">
	</div>
	<div>
      		<a href="{{ "/spectacle_2019" | relative_url }}"><img style="width:100%" src="{{ "/images/2019/affiche_2019_medium.jpg" | relative_url }}"></a>
	</div>
	<div>
      		<img style="width:100%" src="{{ "/images/2018/affiche_2018_medium.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2017/affiche_2017_medium.jpg" | relative_url }}">
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2016/affiche_2016_medium.jpg" | relative_url }}">
	</div>
	<div>
                <a href="{{ "/spectacle_2015" | relative_url }}"><img style="width:100%" src="{{ "/images/2015/affiche_2015_medium.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/spectacle_2014" | relative_url }}"><img style="width:100%" src="{{ "/images/2014/affiche_2014_medium.jpg" | relative_url }}"></a>
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2013/affiche_2013.jpg" | relative_url }}">
	</div>
	<div>
                <a href="{{ "/spectacle_2012" | relative_url }}"><img style="width:100%" src="{{ "/images/2012/affiche_2012.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/yelva" | relative_url }}"><img style="width:100%" src="{{ "/images/2011/affiche_yelva_assassin.jpg" | relative_url }}"></a>
	</div>
	<div>
                <img style="width:100%" src="{{ "/images/2010/chroniques_small.jpg" | relative_url }}">
	</div>
	<div>
                <a href="{{ "/kyogen" | relative_url }}"><img style="width:100%" src="{{ "/images/2009/kyogen_2009_small.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/proverbe" | relative_url }}"><img style="width:100%" src="{{ "/images/2008/proverbes_2008_small.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/images/2007/Spec2007Menu.htm" | relative_url }}"><img style="width:100%" src="{{ "/images/2007/affiche_spectacle_2007small.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/images/2006/Spec2006Menu.htm" | relative_url }}"><img style="width:100%" src="{{ "/images/2006/A4_affiche_spec_2006.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/images/2005/flash/Spec2005Menu.htm" | relative_url }}"><img style="width:100%" src="{{ "/images/2005/affiche24juinxsmall.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/pigeon" | relative_url }}"><img style="width:100%" src="{{ "/images/2004/modiff.jpg" | relative_url }}"></a>
	</div>
	<div>
                <a href="{{ "/images/2003/pfsc.htm" | relative_url }}"><img style="width:100%" src="{{ "/images/2003/Pygmacinemaxsmall.jpg" | relative_url }}"></a>
	</div>
      </section>
    </main>



